%Gilroy-ExtraBold {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
}
%Montserrat-Medium {
  font-family: "Montserrat-Medium";
  font-weight: 500;
}
%Montserrat-Regular {
  font-family: "Montserrat-Regular";
  font-weight: 400;
}